[submodule "asio"]
	path = asio
	url = https://github.com/ayoubserti/asio.git
[submodule "node-headers"]
	path = node-headers
	url = https://github.com/ayoubserti/node-headers.git
	branch = v6.10.0
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/ayoubserti/http-parser.git
